body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.vip {
  background-color: dodgerblue;
  color:  white;
}

ul {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

li {
  display: flex;
  flex-direction: row;
}

.destroy {
  width: 100px;
}

/* #employeeList {

} */
