body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.vip {
  background-color: dodgerblue;
  color:  white;
}

ul {
  display: flex;
  flex-direction: column;

}

li {
  display: flex;
}

.destroy{
  display: flex;
  width: 100px;
}

.destroy {

}

button {

}

/* #employeeList {

} */
